body{
  margin: 0;
  padding: 0;
  font-size: 16pt;
  font-family: "Manrope", sans-serif;
}

header{
  background: #fff;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 16px;
  font-weight: normal;
}

h3 {
  margin-top: 20%;
  margin-bottom: 8%;
  font-size: 0.95em;
}

h4 {
  margin-top: 12%;
  margin-bottom: 8%;
  font-size: 0.8em;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin-top: 8%;
  margin-bottom: 8%;
  font-size: 0.8em;
  line-height: 1.65em;
  color: #545454;
}

ul {
  font-size: 0.8em;
  margin-left: 10%;
  line-height: 1.65em;
  color: #545454;
}

figcaption {
  font-size: 0.75em;
  margin-top: 4%;
  margin-bottom: 16%;
  text-align: center;
  color: #707070;
}

hr {
  margin-top:16%;
  margin-bottom: 16%;
}

footer {
  margin-top: 26%;
  margin-bottom: 6%;
  text-align: center;
  font-size: 0.7em;
}

*:focus {
  border: 2px solid grey;
}


/* HOME PAGE STYLING */

.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
}

.profilepic {
  max-width: 150px;
}

.profile h1 {
  padding: 1em;
  font-weight: 700;
}


/* HOME PAGE: TOP NAV */
.topnav {
  background-color: white;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

/* Note for Nick: be sure to style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #000000;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.active {
  background-color: #ffdab9;
    font-weight: 700;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 17px;
  border: none;
  outline: none;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.topnav a:hover, .dropdown:hover .dropbtn {
  color: 000000;
}

.dropdown-content a:hover {
  background-color: #ffdab9;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* HOME PAGE: BOTTOM NAV */
.speechbubble {
 margin-left: 10%;
 margin-right: 10%;
 padding-top: 10%;
 border-top: 1px solid #ededed;
}

.speechbubbbletext {
  line-height: 140%;
  font-size: 0.9em;
}

.bottom_nav {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-gap: 10%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 10%;
  margin-bottom: 15%;
  text-decoration: none;
  color: black;
  }


/* PROJECT CARDS */

.project_card {
 background-color: #f2f2f2;
 border-radius: 4px;
}

.project_card:hover {
  background-color: #ffdab9;
}

.project_name {
    margin: 18px 0px 18px 18px;
    font-size: 0.8em;
    font-weight: 700;
    line-height: normal;
}

.nav_time {
  float: right;
  font-size: 0.7em;
  color: grey;
  margin: 22px;
}


/* CASE STUDY STYLING */

.appicon {
width: 20%;
max-width: 150px;
text-align: center;
margin-top: 16%;
}

.fullwidth {
width: 100%;
}

.centered_heading {
text-align: center;
}

.maincontent {
  margin-left: 6%;
  margin-right: 6%;
}

.project_title {
  margin-top: 12%;
  margin-bottom: 16%;
}
.title {
  margin-top: 6%;
  margin-bottom: 4%;
}

.highlight {
  background-image: linear-gradient(to bottom, transparent 0, transparent 60%, #ffdab9 60%, #ffdab9 100%);
}

.highlight:hover {
  background-color: #ffdab9;
}

.icons{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: auto auto auto;
  margin-left: 45%;
  margin-right: 41%;
  margin-top: 8%;
  margin-bottom: 15%;
}

.icons > div {
  width: 16px;
}

/* TABLET VIEW STYLING */
@media screen and (max-width: 768px) {

  .icons{
    display: grid;
    grid-gap: 5px;
    grid-template-columns: auto auto auto;
    margin-left: 41%;
    margin-right: 34%;
    margin-top: 8%;
    margin-bottom: 15%;
  }

}


/* MOBILE VIEW STYLING */
@media screen and (max-width: 375px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  .topnav.responsive .dropdown {float: none;}
  .topnav.responsive .dropdown-content {position: relative;}
  .topnav.responsive .dropdown .dropbtn {
    display: block;
    width: 100%;
    text-align: left;
  }
  .icons{
    display: grid;
    grid-gap: 38px;
    grid-template-columns: auto auto auto;
    margin-left: 34%;
    margin-right: 34%;
    margin-top: 8%;
    margin-bottom: 15%;
  }
}
